
body {
  font-family: "Exo 2", sans-serif;
  background: linear-gradient(
    142deg,
    rgba(63, 161, 251, 1) 0%,
    rgba(252, 70, 168, 1) 100%
  );
  background-repeat: no-repeat;
}
#podskazka{
  height: 200px;
  width: 150px;
  border-radius: 30px;
  background-color: rgba(116, 116, 116, 0.5);

}
.choice-container {
  display: flex;
  margin-bottom: 0.3rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgb(86, 165, 235, 0.25);
  background-color: white;
  scale: 0.8;
  border: 3px solid black;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgb(196, 164, 24);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #ffd000;
  color: white;
  
}

#hint-btn{
  width: 96px;
  height: 96px;
  border: none;
  background: url(https://img.icons8.com/color/96/light.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: 0.2s;
  display: block;
  position: absolute;
  margin-left: 1230px;
  
  height: 100px;
  width: 100px;

  }
#hint-btn:hover{
  transform: scale(1.02);
  }
.choice-text {
  padding: 1.5rem;
  width: 100%;
  
}

.correct {
  background-color: #28a745;
}

.incorrect {
  background-color: #dc3545;
}

/* HUD */

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 3rem;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid #ffd000;
  margin-top: 1.5rem;
  border: 3px solid black;
}

#progressBarFull {
  height: 3.6rem;
  background-color: #ffd000;
  width: 0%;
}

/* LOADER */
#loader {
  border: 1.6rem solid rgba(255, 255, 255, 0);
  border-radius: 50%;
  border-top: 1.6rem solid #ffffff;
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#slon{
  height: 400px;
  width: 300px;
  position: absolute;
  margin-left: 1200px;
  margin-top: 500px;
  pointer-events: none;
}